body {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 800px;
  max-width: 100%;
}

.settings {
  width: 100%;
  display: flex;
  padding: 20px 10px;
  background-color: var(--color-yellow);
  margin-bottom: 20px;
  border-radius: var(--border-radius-small);
}

.settings__block {
  margin-top: 10px;
}

.settings__block:first-child {
  margin-top: 0;
}

.settings__caption {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.settings__btns {
  display: flex;
  flex-wrap: wrap;
  margin: -2px;
}

.settings__btn {
  cursor: pointer;
  margin: 2px;
}

.settings__btn input {
  display: none;
}

.settings__btn-content {
  display: block;
  padding: 6px 10px;
  background-color: var(--color-white);
  font-size: 16px;
  font-weight: bold;
  border-radius: var(--border-radius-small);
  transition: all var(--transition-main);
  border: 2px solid transparent;
}

.settings__btn input:checked +.settings__btn-content,
.settings__btn-content:hover {
  border-color: var(--color-dark);
}

.post {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post__input {
  width: 100%;
  padding: 50px 100px;
  background-color: #000000;
  font-size: 30px;
  line-height: 1.4;
  color: #FFFFFF;
  font-family: var(--font-family-Ramona), sans-serif;
}

.post__input::selection {
  background-color: var(--color-yellow);
  color: var(--color-white);
}

.post__btns-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.post__btn {
  padding: 14px 30px;
  background-color: var(--color-yellow);
  font-size: 16px;
  font-weight: 600;
  border-radius: var(--border-radius-middle);
  margin-left: 14px;
  transition: all var(--transition-main);
}

.post__btn:hover {
  background-color: var(--color-yellow-2);
}

.post__btn:first-child {
  margin-left: 0;
}
