body {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 800px;
  max-width: 100%;
}

.scale {
  transform: scale(15);
}

.hide {
  display: none;
}
