.post {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post__input {
  width: 100%;
  padding: 50px 100px;
  font-size: 30px;
  line-height: 1.4;
  font-family: var(--font-family-Ramona), sans-serif;
}

.post__input.post__input--dark {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.post__input.post__input--light {
  background-color: var(--color-white);
  color: var(--color-dark);
}

.post__input.post__input--pink {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.post__input.post__input--neon {
  background-color: var(--color-purple);
  color: var(--color-green);
}

.post__input::selection {
  background-color: var(--color-yellow);
  color: var(--color-white);
}
