.settings {
  width: 100%;
  padding: 20px 10px;
  background-color: var(--color-yellow);
  margin-bottom: 20px;
  border-radius: var(--border-radius-small);
}

.settings__block {
  margin-top: 16px;
}

.settings__block:first-child {
  margin-top: 0;
}

.settings__caption {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.settings__btns {
  display: flex;
  flex-wrap: wrap;
  margin: -2px;
}

.settings__btn {
  cursor: pointer;
  margin: 2px;
}

.settings__btn input {
  display: none;
}

.settings__btn-content {
  display: block;
  padding: 6px 10px;
  background-color: var(--color-white);
  font-size: 16px;
  font-weight: bold;
  border-radius: var(--border-radius-small);
  transition: all var(--transition-main);
  border: 2px solid transparent;
}

.settings__btn input:checked +.settings__btn-content,
.settings__btn-content:hover {
  border-color: var(--color-dark);
}

.settings__input-number {
  width: 100px;
  padding: 10px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-small);
  font-size: 16px;
  font-weight: bold;
}

.settings__themes-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
}

.settings__theme {
  display: block;
  margin: 6px;
  cursor: pointer;
}

.settings__theme input {
  display: none;
}

.settings__theme-content {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: var(--border-radius-small);
  border: 4px solid transparent;
  transition: all var(--transition-main);
  position: relative;
}

.settings__theme-content::before {
  position: absolute;
  content: "✓";
  font-weight: bold;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity var(--transition-main);
}

.settings__theme input[value='dark'] + .settings__theme-content {
  background-color: var(--color-dark);
  color: var(--color-white);
  border-color: var(--color-white);
}

.settings__theme input[value='light'] + .settings__theme-content {
  background-color: var(--color-white);
  border-color: var(--color-dark);
}

.settings__theme input[value='pink'] + .settings__theme-content {
  background-color: var(--color-pink);
  border-color: var(--color-white);
}

.settings__theme input[value='neon'] + .settings__theme-content {
  background-color: var(--color-purple);
  border-color: var(--color-green);
}

.settings__theme input:checked + .settings__theme-content::before {
  opacity: 1;
}
